.footer{
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#footer-logo {
    width: 160px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 16px;
    max-width: 450px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.footer-bottom-right{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.social-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  background-color: transparent;
}

.social-icon.scale-upi {
  transform: scale(1.55); /* Increase as needed */
}

.social-icon.scale-upl {
  transform: scale(1.75); /* Increase as needed */
}
@media(max-width:768px){
    .footer{
        margin: 50px 6%;
    }
    .footer-top{
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-right{
        gap: 5px;
    }
    .footer-email-input {
        padding: 12px 14px;
        max-width: 200px;
    }
    .footer-email-input input{
        width: 100%;
        font-size: 16px;
    }
    .footer-email-input img{
        display: none;
    }
    .footer-subscribe {
        font-size: 14px;
        padding: 14px 20px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
    }
    .footer-bottom-right{
        gap: 12px;
    }
}