*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
}
.title-box{
  position: relative;
}
.title-box h1{
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.title-box img {
  position: absolute;
  bottom: 4px; /* tweak this value to align exactly */
  right: -4px; /* aligned with h1 padding */
  width: 160px;
  z-index: -1;
}
@media(max-width: 768px){
  .about-title img{
      width: 130px;
      right: -20px;
  }
  .title-box h1{
    padding: 0px;
    font-size: 40px;
  }
  .title-box img{
    width: 100px;
    right: -20px;
    bottom: 10px;
  }
}